* {
    margin: 0px;
    padding: 0px;
    color: #fff;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body {
    background: black;

}

.header {
    width: 100%;
    height: 100vh;
}

.container {
    padding: 1% 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    border: 4px solid peru;
    border-radius: 10%;
    box-shadow: inset;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0px;
    height: 3px;
    background: peru;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    color: white;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;


}

.header-text h1 span {
    color: peru;
}

.head1 {
    display: flex;
    justify-content: space-between;


}

.backimg {
    height: 300px;
    margin-top: 120px;
    border-radius: 50%;
    border: 3px dotted red;
}

/*------------------------about-------------------*/

#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}


.about-col-2 {
    flex-basis: 60%;

}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;

}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0px;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;

}

.tab1{
    margin: 10px 0px;
    list-style: none;
}
.tabs{
    font-size: 14px;
    color: #b54769;
}
.tab-contants{
    display: none;
}
.tab-contants.active-tab{
    display: block;
}

/* ................ services ............... */
#services{
    padding: 30px 0;

}

.services-list{
    display: flex;
    grid-gap:40px;
    margin-top: 50px;
    color: #fff;
   
}
.services-list a{
    text-decoration: none;
    color: red;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight:300px ;
    border-radius: 10px;
    transition: all 0.5s ;
}

.services-list div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);

}
/* portfoilio */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.contact-left p a{
    text-decoration: none;
}
.social-icons a:hover{    
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
    text-decoration: none;
    color: #fff;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    margin: 15px 0;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: #fff;
}

#msg{
    color: #61b752;
    margin-top: 20px;
    display: block;
    font-size: large;
    font-weight: bold;

}
/* css for small screen */
@media screen and  (max-width: 400px){
    #contact{
        width: 100%;
    }
    .services-list{
        display: grid;
        grid-template-columns: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .copyright{
        padding: 25px 3px;
    }
    .about-col-1 {
        flex-basis: 80%;
    }
    
    .about-col-1 img {
        width: 100%;
        border-radius: 15px;
    }
    
}